

<div class="container">
    <h1 class="my-4 text-center">Admin Dashboard</h1>
    
    <div class="row mb-4">
        <div class="col text-right">
            <button class="btn btn-primary" (click)="navigateToAddProduct()">Add Product</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let item of dashboardItems">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <button class="btn btn-outline-primary" (click)="navigateTo(item.link)">View</button>
                </div>
            </div>
        </div>
    </div>
</div>

